---
import RowChip from "./RowChip.astro";
import StateChip from "./StateChip.astro";
import TableRow from "./TableRow.astro";
---

<script>
  import type { PresentationData } from "../../../scripts/alpine/presentationData";

  document.addEventListener("alpine:init", () => {
    Alpine.data("presentations", () => {
      return {
        presentations: [] as PresentationData["presentationOrder"],
        filter: {
          rotation: "",
          keyword: "",
        },
        init() {
          this.presentations = (
            Alpine.store("presentationData") as PresentationData
          ).presentationOrder;
        },
        get filteredPresentations() {
          let result = this.presentations;

          if (this.filter.rotation !== "") {
            result = result.filter((p) => p.rotation === this.filter.rotation);
          }

          if (this.filter.keyword !== "") {
            result = result.filter((p) =>
              p.name.toLowerCase().includes(this.filter.keyword.toLowerCase())
            );
          }
          return result;
        },
      };
    });
  });
</script>
<template x-if="$store.presentationData.presentationOrder.length > 0">
  <div
    class="font-poppins flex flex-col sm:px-12 py-8 rounded-4xl sm:bg-white gap-y-5"
    x-data="presentations()"
    x-effect="filter.rotation = $store.studentData.rotation"
  >
    <div class="flex flex-col sm:flex-row sm:items-end gap-y-5 gap-x-14">
      <div class="flex flex-col gap-y-2 grow">
        <h2 class="font-semibold text-lg">Listado de orden de presentación</h2>
        <h3 class="text-light-sea-green text-sm">
          Ciclo lectivo <span x-text="(new Date()).getFullYear();"></span>
        </h3>
      </div>
      <div
        class="flex items-center justify-center px-4 py-3 bg-white sm:bg-ghost-white rounded-xl gap-x-6 w-full sm:w-1/4"
      >
        <img
          class="w-4 h-4"
          :src="$store.pageData.publicURL('icons/search.svg')"
          alt=""
        />
        <input
          class="font-poppins grow focus:outline-none"
          type="text"
          placeholder="Buscar"
          x-model="filter.keyword"
        />
      </div>
    </div>
    <div class="flex flex-col gap-y-9 sm:hidden">
      <template
        x-for="presentation in filteredPresentations"
        :key="presentation.instance + '-' + presentation.id"
      >
        <RowChip
          name="presentation.name"
          date="$store.presentationData.groupPresentationDates[presentation.id]?.date ? $store.presentationData.showDate($store.presentationData.groupPresentationDates[presentation.id].date) : '---'"
          block="$store.presentationData.groupPresentationDates[presentation.id] ? $store.presentationData.groupPresentationDates[presentation.id].block + '° bloque' : '---'"
          rotation="presentation.rotation"
          instance="presentation.instance + '° ronda'"
          state="presentation.state"
        />
      </template>
    </div>
    <div class="hidden sm:grid sm:grid-cols-6">
      <TableRow>
        <span class="text-gray">Nombre del grupo</span>
        <span class="text-gray">Fecha estimada</span>
        <span class="text-gray">Bloque estimado</span>
        <span class="text-gray">Rotación</span>
        <span class="text-gray">Instancia</span>
        <span class="text-gray">Estado del grupo</span>
      </TableRow>
      <template
        x-for="presentation in filteredPresentations"
        :key="presentation.instance + '-' + presentation.id"
      >
        <TableRow>
          <span class="text-[#292D32]" x-text="presentation.name"></span>
          <span
            class="text-[#292D32]"
            x-text="$store.presentationData.groupPresentationDates[presentation.id]?.date ? $store.presentationData.showDate($store.presentationData.groupPresentationDates[presentation.id].date) : '---'"
          ></span>
          <span
            class="text-[#292D32]"
            x-text="$store.presentationData.groupPresentationDates[presentation.id] ? $store.presentationData.groupPresentationDates[presentation.id].block + '° bloque' : '---'"
          ></span>
          <span class="text-[#292D32]" x-text="presentation.rotation"></span>
          <span
            class="text-[#292D32]"
            x-text="presentation.instance + '° ronda'"></span>
          <StateChip type="presentation.state" />
        </TableRow>
      </template>
    </div>
  </div>
</template>
