---
import RowChip from "./RowChip.astro";
import SelectFilter from "./SelectFilter.astro";
import StateChip from "./StateChip.astro";
import TableRow from "./TableRow.astro";
---

<script>
  import { date } from "astro:schema";
  import type { PresentationData } from "../../../scripts/alpine/presentationData";

  document.addEventListener("alpine:init", () => {
    Alpine.data("presentations", () => {
      return {
        presentations: [] as PresentationData["presentationOrder"],
        filter: {
          rotation: "",
          keyword: "",
          sortCriteria: null,
        },
        init() {
          this.presentations = (
            Alpine.store("presentationData") as PresentationData
          ).presentationOrder;
        },
        get filteredPresentations() {
          let result = this.presentations;

          if (this.filter.rotation !== "") {
            result = result.filter((p) => p.rotation === this.filter.rotation);
          }

          if (this.filter.keyword !== "") {
            result = result.filter((p) =>
              p.name.toLowerCase().includes(this.filter.keyword.toLowerCase())
            );
          }
          if (this.filter.sortCriteria) {
            const { category, ascending } = this.filter.sortCriteria;
            if (category === "date") {
              result = result.sort((a, b) => {
                const dateA: Date | undefined =
                  (
                    Alpine.store("presentationData") as PresentationData
                  ).getGroupPresentationDate(a.id, a.instance)?.date ||
                  undefined;
                const dateB: Date | undefined =
                  (
                    Alpine.store("presentationData") as PresentationData
                  ).getGroupPresentationDate(b.id, b.instance)?.date ||
                  undefined;
                // Empty dates go at the end independent of ascending
                if (!dateA && dateB) return 1;
                if (dateA && !dateB) return -1;
                if (!dateA && !dateB) return 0;
                if (dateA && dateB && dateA < dateB) return ascending ? -1 : 1;
                if (dateA && dateB && dateA > dateB) return ascending ? 1 : -1;
                // If dates are equal, sort by block
                const blockA = (
                  Alpine.store("presentationData") as PresentationData
                ).getGroupPresentationDate(a.id, a.instance)?.block;
                const blockB = (
                  Alpine.store("presentationData") as PresentationData
                ).getGroupPresentationDate(b.id, b.instance)?.block;
                if (blockA && blockB && blockA < blockB)
                  return ascending ? -1 : 1;
                if (blockA && blockB && blockA > blockB)
                  return ascending ? 1 : -1;
                return 0;
              });
            }
          }
          return result;
        },
      };
    });
  });
  interface FilterOption {
    label: string;
    value: { category: string; ascending: boolean };
  }
  document.addEventListener("alpine:init", () => {
    Alpine.data(
      "selectFilter",
      (onChange: (value: FilterOption["value"] | null) => void) => {
        return {
          open: false,
          options: [
            {
              label: "Más Próximo",
              value: { category: "date", ascending: true },
            },
            {
              label: "Más Lejano",
              value: { category: "date", ascending: false },
            },
          ],
          selected: null as FilterOption | null,
          init() {
            this.selected = this.options[0];
            onChange(this.selected.value);
            this.$watch("selected", (option) => {
              onChange(option?.value || null);
            });
          },
        };
      }
    );
  });
</script>
<template x-if="$store.presentationData.presentationOrder.length > 0">
  <div
    class="font-poppins flex flex-col sm:px-12 py-8 rounded-4xl sm:bg-white gap-y-5"
    x-data="presentations()"
    x-effect="filter.rotation = $store.studentData.rotation"
  >
    <div class="flex flex-col sm:flex-row sm:items-end gap-y-5 gap-x-14">
      <div class="flex flex-col gap-y-2 grow">
        <h2 class="font-semibold text-lg">Listado de orden de presentación</h2>
        <h3 class="text-light-sea-green text-sm">
          Ciclo lectivo <span x-text="(new Date()).getFullYear();"></span>
        </h3>
      </div>
      <div
        class="flex items-center justify-center px-4 py-3 bg-white sm:bg-ghost-white rounded-xl gap-x-6 w-full sm:w-1/4"
      >
        <img
          class="w-4 h-4"
          :src="$store.pageData.publicURL('icons/search.svg')"
          alt=""
        />
        <input
          class="font-poppins grow focus:outline-non text-xs"
          type="text"
          placeholder="Buscar"
          x-model="filter.keyword"
        />
      </div>
      <SelectFilter onChange="(value) => filter.sortCriteria = value" />
    </div>
    <div class="flex flex-col gap-y-9 sm:hidden">
      <template
        x-for="presentation in filteredPresentations"
        :key="presentation.instance + '-' + presentation.id"
      >
        <RowChip
          name="presentation.name"
          date="$store.presentationData.getGroupPresentationDate(presentation.id,presentation.instance)?.date ? $store.presentationData.showDate($store.presentationData.getGroupPresentationDate(presentation.id,presentation.instance).date) : '---'"
          block="$store.presentationData.getGroupPresentationDate(presentation.id,presentation.instance) ? $store.presentationData.getGroupPresentationDate(presentation.id,presentation.instance).block + '° bloque' : '---'"
          rotation="presentation.rotation"
          instance="presentation.instance + '° ronda'"
          state="presentation.state"
        />
      </template>
    </div>
    <div class="hidden sm:grid sm:grid-cols-6">
      <TableRow>
        <span class="text-gray">Nombre del grupo</span>
        <span class="text-gray">Fecha estimada</span>
        <span class="text-gray">Bloque estimado</span>
        <span class="text-gray">Rotación</span>
        <span class="text-gray">Instancia</span>
        <span class="text-gray">Estado del grupo</span>
      </TableRow>
      <template
        x-for="presentation in filteredPresentations"
        :key="presentation.instance + '-' + presentation.id"
      >
        <TableRow>
          <span class="text-[#292D32]" x-text="presentation.name"></span>
          <span
            class="text-[#292D32]"
            x-text="$store.presentationData.getGroupPresentationDate(presentation.id,presentation.instance)?.date ? $store.presentationData.showDate($store.presentationData.getGroupPresentationDate(presentation.id,presentation.instance).date) : '---'"
          ></span>
          <span
            class="text-[#292D32]"
            x-text="$store.presentationData.getGroupPresentationDate(presentation.id,presentation.instance) ? $store.presentationData.getGroupPresentationDate(presentation.id,presentation.instance).block + '° bloque' : '---'"
          ></span>
          <span class="text-[#292D32]" x-text="presentation.rotation"></span>
          <span
            class="text-[#292D32]"
            x-text="presentation.instance + '° ronda'"></span>
          <StateChip type="presentation.state" />
        </TableRow>
      </template>
    </div>
  </div>
</template>
