---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="p-9 sm:p-10 flex flex-col gap-y-6 min-h-full">
    <h2 class="font-poppins text-xl">Guía para entender la nota final</h2>
    <ul class="font-poppins list-disc">
      <li>
        <strong>(Pendiente)</strong>: El equipo docente tiene pendiente reunirse
        para consensuar la nota.
      </li>
      <li>
        <strong>6 o más</strong>: ¡Aprobaste proyecto! Suerte el siguiente año.
      </li>
      <li>
        <strong>Desaprobado</strong>: Seguimos trabajando en diciembre.
      </li>
    </ul>
  </main>
</Layout>
