---
import Loader from "../../components/misc/loader/Loader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div x-show="$store.studentData.loading === true" class="grow">
    <Loader />
  </div>
  <main
    class="p-9 sm:p-10 flex flex-col gap-y-8 min-h-1/2"
    x-show="!$store.studentData.loading"
  >
    <section
      class="flex flex-col items-center justify-center rounded-4xl bg-white p-9 sm:p-10 font-poppins"
      x-data="{text: '(Pendiente)'}"
      x-effect="
          let mark = $store.studentData.mark;
          if (!isNaN(mark)) {
            text = mark >= 6 ? mark : 'Desaprobado';
          }
        "
    >
      <template x-if="$store.studentData.name === ''">
        <h1 class="text-2xl sm:text-3xl">
          Logueate al campus para ver tu nota
        </h1>
      </template>
      <div
        x-show="$store.studentData.name !== ''"
        class="flex flex-col items-center justify-center gap-y-4"
      >
        <h1 class="text-2xl sm:text-3xl">Nota final</h1>
        <div
          class="flex px-6 py-4 border-2 rounded-4xl justify-center items-center w-fit h-fit"
          :class="{'bg-[#ecfdf5] border-[#34d399] text-[#059669]': text !== 'Desaprobado' && text !== '(Pendiente)','bg-[#FEF2F2] border-[#F87171] text-[#DC2626]': text === 'Desaprobado','bg-[#F3F4F6] border-[#9CA3AF] text-[#374151]': text === '(Pendiente)'}"
        >
          <span class="text-4xl sm:text-6xl" x-text="text"></span>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-y-3">
      <h2 class="font-poppins text-xl underline">
        Guía para entender la nota final
      </h2>
      <ul class="font-poppins list-disc">
        <li>
          <strong>(Pendiente)</strong>: El equipo docente tiene pendiente
          reunirse para consensuar la nota.
        </li>
        <li>
          <strong>6 o más</strong>: ¡Aprobaste proyecto! Suerte el siguiente
          año.
        </li>
        <li>
          <strong>Desaprobado</strong>: Seguimos trabajando en diciembre.
        </li>
      </ul>
    </section>
    <h2 class="text-center text-2xl font-bold">
      Cualquier duda respecto a la nota hablar con el equipo docente
    </h2>
  </main>
</Layout>
