---
import GroupCategory from "./GroupCategory.astro";
---

<template
  x-if="$store.presentationData && $store.studentData.loading === false && $store.studentData.group.id !== 0"
>
  <div
    class="flex flex-col sm:flex-row p-9 sm:px-12 sm:py-10 items-start sm:items-center justify-between rounded-4xl bg-white divide-y sm:divide-y-0 sm:divide-x divide-[#F0F0F0]"
    x-data="{id: $store.studentData.group.id, state: undefined, date: undefined, block: undefined}"
    x-effect="state = $store.presentationData.getGroupPresentationState(id); date = $store.presentationData.getGroupPresentationDate(id).date; block = $store.presentationData.getGroupPresentationDate(id).block"
  >
    <GroupCategory
      img="/icons/people.svg"
      bgImg="bg-[#F6E7ED]"
      category="Nombre del grupo"
      value="$store.studentData.group.name"
      className="sm:hidden"
    />
    <GroupCategory
      img="/icons/calendar.svg"
      bgImg="bg-[#DDF4FF]"
      category="Fecha estimada de presentación"
      value="date ? $store.presentationData.showDate(date) : '---'"
    />
    <GroupCategory
      img="/icons/hashtag.svg"
      bgImg="bg-[#FFEDE6]"
      category="Bloque estimado de presentación"
      value="block !== undefined ? block + '\xB0 bloque' : '---'"
    />
    <GroupCategory
      img="/icons/cloud.svg"
      bgImg="bg-[#F9F2FF]"
      category="Estado del grupo"
      value="state !== undefined ? state : '---'"
    />
  </div></template
>
