---
const { img, bgImg, category, value, className } = Astro.props;
---

<div
  class=`flex basis-0 grow gap-x-5 sm:justify-center items-center [&:not(:last-child)]:pb-5 [&:not(:first-child)]:pt-5 sm:!py-0 sm:[&:not(:last-child)]:pr-5 sm:[&:not(:first-child)]:pl-5 ${className ?? ""}`
>
  <div
    class=`${bgImg} rounded-full h-16 w-16 shrink-0 flex justify-center items-center`
  >
    <img :src=`$store.pageData.publicURL('${img}')` alt="Category Image" />
  </div>
  <div class="flex flex-col font-poppins py-2 gap-y-2">
    <h2 class="font-normal text-sm text-silver-chalice">{category}</h2>
    <span class="font-semibold text-3xl text-[#333333]" x-text={value}></span>
  </div>
</div>
