---
import Loader from "../../components/misc/loader/Loader.astro";
import Group from "../../components/presentation/GroupBanner/Group.astro";
import Table from "../../components/presentation/Table/Table.astro";
import Layout from "../../layouts/Layout.astro";
---

<script>
  import presentationDataStore from "../../scripts/alpine/presentationData";
  document.addEventListener("alpine:init", () => {
    Alpine.store("presentationData", presentationDataStore(Alpine));
  });
</script>
<Layout>
  <main class="p-10 flex flex-col gap-y-6 min-h-full">
    <h1 class="font-poppins text-2xl">
      Hola<span
        x-text="' ' + $store.studentData.name"
        x-show="$store.studentData.name !== ''"></span>!
    </h1>
    <div x-show="$store.studentData.loading === true" class="grow">
      <Loader />
    </div>
    <template
      x-if="$store.studentData.loading === false && $store.studentData.rotation === ''"
    >
      <div class="grow flex items-center justify-center gap-20 text-2xl">
        <div
          class="border p-4 cursor-pointer"
          @click="$store.studentData.rotation = 'AB'"
        >
          AB
        </div>
        <div
          class="border p-4 cursor-pointer"
          @click="$store.studentData.rotation = 'CD'"
        >
          CD
        </div>
      </div>
    </template>
    <Group />
    <Table />
  </main>
</Layout>
