---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Campus Proyecto</title>
  </head>
  <body class="w-full">
    <div
      class="w-fill flex flex-col relative"
      :class="{ 'h-[calc(100vh-64px-1rem)] bg-[#FAFBFF]': $store.pageData.onCampus }"
    >
      <slot />
    </div>
  </body>
</html>
